@model Domain.Models.Acl

@{
    ViewData["Title"] = "ShareFile";
}

<h1>ShareFile</h1>

<h4>Acl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShareFile" enctype="multipart/form-data">
            <input type="hidden" value="@Model.FileName" name="filename" />>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserAccess" /> @Html.DisplayNameFor(model => model.UserAccess)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
